/* comment */
.c {
	color: #008E27;
	font-style: italic;
}

/* keyword */
.k {
	color: #C3681E;
	font-style: italic;
}

/* string */
.s { color: #C20B17; }

/* number */
.n {
    color: #194BA2;
    font-style: italic;
}

/* tag */
.t { color: #194BA2; }

// Don't use it since the < > won't be selectable
//.t:before { content: "<"; }
//.t:after { content: ">"; }

/* attribute */
.a { color: #91904C; }

/* var */
.v { color: #BA2999; }

.code {
    color: #61615D;
    font-family: Monaco;
    font-size: 11pt;
	border: 1px solid #8E9090;
	border-radius: 8px;
	padding: 20px;
	background-color: #131A23;
}
.sample
{
	border: 1px solid red;
	padding: 15px;
	margin-bottom: 10px;
	background-color: #FFFFFF;
}

code {
    border: 1px solid grey;
    border-radius: 2px;
    padding: 2px;
    font-family: Monospace;
}

.hilite, a
{ color: #E83A1D; }
.off
{ color: #471C0E; }
.on
{ color: red; }
#header
{
	border: 1px solid black;
	background-color: #FFFFFF;
	margin-bottom: 20px;
	text-align: center;
}
#header .u
{ color: orange; }
#header i
{ font-size: 24px; }
#menu
{
	float: left;
	width: 300px;
}
#menu > div
{
	border: 1px solid black;
	padding-left: 15px;
	background-color: #FFFFFF;
	margin-bottom: 20px;
}
#paypal
{ text-align: center; }
#research
{ padding: 15px; }
#arbre span
{ cursor: pointer; }
#corps
{
	margin-left: 325px;
	border: 1px solid black;
	padding-left: 15px;
	padding-right: 15px;
	background-color: #E6E7E7;
}
body {
    font-family: Verdana;
    background-image: url("images/pict-06.png");
}

h3 { color: #194BA2; }